html, head, header, body, nav, li, a, aside, h2, section, h1, figure, figcaption,
p, form, label, input, select, option, textarea, footer {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  font-size: 100%;
}

ol, ul {
  list-style: none;
}

body {
  line-height: 1.5;
}

img {
  width: 100%
}
