#root {
  width: 600px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-family: Open Sans;
}
.clock {
  font-weight: 700;
  font-size: 28px;
  font-family: Orbitron;
  background-color: orange;
  color: white;
  border: 2px solid black;
  padding: 15px;

}

.time {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.date {
  display: flex;
  justify-content: space-between;
}

.tabs-container {
  margin-left: 40px;
}

.tab-header {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.tab-header-title {
  display: flex;
  font-family: Open Sans;
  background-color: lightblue;
  border-top: 2px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 2px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 4px;
  width: 65px;
  justify-content: center;
}

.active {
  border-bottom: none;
  font-weight: 700;
}

.tab-header-title:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.tab-header-title:first-child {
  border-left: 2px solid black;
}

.tab-header-title:last-child {
  border-right: 2px solid black;
}

.tab-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 196px;
  height: 200px;
  font-family: Open Sans;
  background-color: lightblue;
  color: white;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

